/* ------------------------ Normalize style---------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-style: normal;
  font-family: "Exo";
  font-size: 16px;
  color: #333;
}

body {
  background-color: #fff;
  line-height: 1.5;
  overflow-x: hidden;
}
.container {
  margin: 0 auto;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: bold;
}

ul {
  list-style: none;
}

img {
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
}

button {
  background-color: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  width: 100%;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 0;
}

.d-flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-l {
  display: flex;
  align-items: center;
  justify-content: left;
}

/* ------------------------ Normalize style---------------------------------- */

/* -------------------------------- html ----------------------------------- */

/* -------------------------------- header ----------------------------------- */
/* -------------------------------- Sevinch --------------------------------- */

.header_wrap{
  width: 100%;
}
/* -------------------------------- /Sevinch -------------------------------- */
/* -------------------------------- /header ---------------------------------- */

/* -------------------------------- main ----------------------------------- */

.main_wrap {
  width: 100%;
  margin-top: 330px;
}

/* ----------------------------- Teamlead ----------------------------- */

/* ------------------------------ /Teamlead -------------------------- */

/* ----------------------------- Samandar ------------------------------- */

/* ------------------------------ /Samandar ----------------------------- */

/* -------------------------------- /main -------------------------------- */

/* -------------------------------- footer -------------------------------- */
/* -------------------------------- Muhammad ------------------------------ */

.footer_wrap {
  width: 100%;
  background-color: #0a0a0b;
  background-image: url("./assets/foto/footer-shape2.svg"),
    url("./assets/foto/footer-shape1.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top;
}

.footer_container {

  padding: 72px 0 32px 0;
}
.footer_content {
  margin-bottom: 98px;
}
.footer_left {
  margin-left: 128px;
}

.footer_left__groop {
  gap: 8px;
}

.footer_left__icon {
  width: 32px;
}

.footer_left__title {
  color: white;
  font-size: 24px;
  font-family: Exo;
  font-weight: 600;
  line-height: 33.6px;
}
.footer_left__subtitle {
  width: 198px;
  margin-top: 24px;
  color: #babec4;
  font-size: 13px;
  font-family: Exo;
  font-weight: 400;
  line-height: 18.2px;
}

.footer_company {
  margin-left: 166px;
}
.footer_company__title {
  margin-bottom: 24px;
  width: 88px;
  color: #f1f2f3;
  font-size: 20px;
  font-family: Exo;
  font-weight: 600;
  line-height: 28px;
}

.footer_company__list {
  line-height: 2;
}

.footer_company__subtitle {
  color: #babec4;
  font-size: 16px;
  font-family: Exo;
  font-weight: 400;
  line-height: 22.4px;
}

.footer_info__list {
  line-height: 2;
}
.footer_info {
  margin-left: 166px;
}

.footer_info__title {
  margin-bottom: 24px;
  color: #f1f2f3;
  font-size: 20px;
  font-family: Exo;
  font-weight: 600;
  line-height: 28px;
}
.footer_info__subtitle {
  color: #babec4;
  font-size: 16px;
  font-family: Exo;
  font-weight: 400;
  line-height: 22.4px;
}
.footer_right {
  margin-left: 166px;
}

.footer_right__title {
  width: 90px;
  color: #f1f2f3;
  font-size: 20px;
  font-family: Exo;
  font-weight: 600;
  line-height: 28px;
}

.footer__right__group{
  gap: 24px;
}
.footer_bottom {
  gap: 4px;
}

.footer_bottom__text {
  width: 169px;
  color: #888b91;
  font-size: 12px;
  font-family: Exo;
  font-weight: 400;
  line-height: 16.8px;
}


/* ------------------------------- /Muhammad ------------------------------ */
/* -------------------------------- /footer -------------------------------- */

/* -------------------------------- /html ---------------------------------- */
